@import '../../styles/settings';

.footerBg {
  background: linear-gradient(
    180deg,
    rgba(transparent, 0) 0%,
    rgba(transparent, 0) 20%,
    rgba(black, 0.3) 30%,
    rgba(black, 1) 100%
  );
}

.footer__contactTitle {
  &::after {
    content: '';
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0px;
    height: 3px;
    background-color: $turquesa;
  }
}
